.wrapper-details {
    padding-top: calc(var(--mantine-spacing-xl) / 2);
    text-align: left;
     border-bottom: solid 1px white;
  }
.title-details {
    text-align: left;
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-md);
  }
  .description-text-details {
    font-weight: bold;
    font-size: large;
    width: fit-content;
    color: white;
    border-radius: 5px;
  }
  
  .news-app-details {
    margin-top: calc(var(--mantine-spacing-xl) / 2);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: 'white';

}
.background-details-news{
    background-color: black;
}
 
.news-item-details {
    /* max-width: 100%; */
    max-width: 410px;
    background-color: white;
    cursor: pointer;
    padding: 5px;
   
}

.news-img-details {
    max-width: 400px;
}
.news-description{
    /* height: 10vh; */
    text-align: left;
    font-weight: italic;
    font: italic;
    font-size: large;
    /* background-color: black; */
    border-top: solid 1px white;
    background-color: black;
    color: white;
    overflow: visible;
}
